ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-inline: -16px;
}

article {
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  gap: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
}

article header {
  flex: 1;
}

article h3 {
  margin-bottom: 4px;
}

article a {
  color: #111;
}

article a:hover {
  text-decoration: underline;
}

article p {
  font-size: 0.75rem;
  line-height: 1.2rem;
  margin-bottom: 4px;
}

article h3 span {
  color: rgb(0, 188, 47);
  animation-name: flicker;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 0.6rem;
}

footer span {
  border-radius: 6px;
  background: #eee;
  color: #444;
  font-size: 0.6rem;
  font-weight: 500;
  padding: 0.2rem 0.6rem;
}

.github-code-link {
  margin-left: 5px;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@media (width <= 700px) {
  ul {
    margin-inline: 0px;
  }

  article {
    border: none;
    box-shadow: 0 1px 1px #f2f2f2;
    padding: 0 0 16px 0;
  }
}

@media print {
  article h3 span {
    animation-name: none;
  }
}

.custom-modal-content {
  max-width: 600px; /* Adjust the width */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 4px;
  outline: none;
  border-radius: 10px; 
  padding: 1.6rem;
  border: 2px solid #000000;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s forwards;
}

.dialog-details {
  margin: 1.5rem 0;
  padding: 0 1rem;

}

.dialog-aptitudes{
  margin: 1.5rem 0;
  padding: 0 1rem;
}

.dialog-li{
  border-radius: 5px;
  padding: 5px;
  background-color:rgb(212, 212, 212) 
}
.dialog-cabecera{
  display: flex;
  justify-content: space-between;
}

.dialog-close{
  cursor: pointer;
  color: red;
  font-size: 1.5rem;
}

.proyectos{
  transition: all 0.3s ease;
}

.proyectos:hover{
  cursor: pointer;
  transform: scale(1.02); 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 0%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

